<style type="text/css">
.button.primary.features-toggle-anchor{
	background-color: #16A085!important;
	border-color: #16A085!important;
}

.button.primary.features-toggle-anchor:hover{
	background-color: #1ABC9C!important;
	border-color: #1ABC9C!important;
}
.button.features-toggle-anchor{
	background-color: #2C3E50!important;
	border-color: #2C3E50!important;
	color: white!important;
}

.button.features-toggle-anchor:hover{
	background-color: #34495E!important;
	border-color: #34495E!important;
	color: white!important;
}

h1{
	color:hsl(210, 29%, 29%)!important;
	font-size: 53px!important;
}
.verde{
	color: #1ABC9C!important;
}
.row{
	margin-top: 15%!important;
}
.panel{
	text-align: center!important;
	background-color: transparent!important;
}


	
</style>


 <div class="row">
  <div class="panel">
    <h1>Que deseas hacer?<span class="verde">..</span></h1>
    <div class="features-toggle">
      <a class="button primary features-toggle-anchor" href="/eventos/new">Crear evento</a>
      <a class="button features-toggle-anchor" href="/checkins/new">
      	Checkin</a>
    </div>
    </div>
</div>